<div class="container">
    <div class="row">
      <h2>Employee Dashboard</h2>
      <h2>Welcome {{ name }}</h2>
      <div class="container dashboard">
        <button type="button" class="btn btn-primary btn-lg myDlt" (click)="empDtl()">My Details Section</button>
        <button type="button" class="btn btn-primary btn-lg mgrDtl" (click)="mgrDtl()">My Manager Details</button>
        <button type="button" class="btn btn-primary btn-lg btn-block lvApp" (click)="myLvApp()">My Leave Application</button>
        <button type="button" class="btn btn-primary btn-lg btn-block penLv" (click)="penLvApp()">
          Pending Leave Application of My Reportee
        </button>
      </div> 
    </div>  
</div>
